{% extends "base.html" %}

{% block content %}
<!-- Display contents if one or more items are avialable in the database -->
{% if not ALL_CATEGORIES|length %}
<!-- Show welcome page and inform the user to login and add items. -->
<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container-fluid">
        <h1 class="display-4">Welcome to CatalogApp</h1>
        <p class="lead">
            {% if LOGIN_SESSION.get('username')%}
            You can add items by clicking on <mark>Add Item</mark> button on top.
            {% else %}
            There are no items to show. Please <mark>Login</mark> to start adding items.
            {% endif %}
        </p>
    </div>
</div>
{% else %}
<div class="row bg-info inner-row">

    <!-- Column for Vertical navigation menu -->
    <nav class="col-sm-3 p-3 bg-light left-col">
        <h2>Categories</h2>
        <ul class="nav nav-pills flex-column">
            <!-- A menu item for displaying  most recently added/edited items -->
            <li class="nav-item">
                <a class="nav-link {% if ACTIVE_CATEGORY == 'latest' %} active{% endif %}"
                    href="/category/latest">Latest<span
                        class="fas fa-fire fa-lg pl-2 float-right latest-category-icon"></span></a>
            </li>
            <!-- A menu item for each category -->
            {% for category in ALL_CATEGORIES %}
            <li class="nav-item">
                <a class="nav-link {% if category[0] == ACTIVE_CATEGORY %} active{% endif %}"
                    href="/category/{{category[0]}}">{{ category[0]|title }}<span
                        class="badge badge-secondary float-right">{{ category[1] }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <!-- Column for displaying items as cards in selected category -->
    <div class="col-sm-9 p-3 bg-light">
        <h2 class="font-weight-bol d-flex justify-content-center">{{ ACTIVE_CATEGORY|title }}</h2>
        <div class="d-inline-flex flex-wrap justify-content-center">

            <!-- Buid a card for each item in the selected category -->
            {% for item in CATEGORY_ITEMS %}
            <div class="card p-3 m-3 shadow item" id="{{ item.id }}">

                <!-- Item image -->
                <img class="card-img-top img-thumbnail item-img" id='{{item.id}}_img'
                    src="{{  url_for('static', filename=item.image) }}" alt="Item Image">

                <!-- Item attributes -->
                <div class="card-body px-2 pb-0">
                    <h3 class="card-title title mb-0" id="{{item.id}}_tit">{{ item.name }}</h3>

                    <h5 class="card-title category small font-italic" id="{{item.id}}_cat">{{ item.category }} :
                        {{ item.id }}
                    </h5>

                    <p class="card-text text-justify" id="{{item.id}}_desc">
                        {{ item.description }}
                    </p>

                    <!-- Add/Edit Item Button. Works only if user is logged in -->
                    <div
                        style="display: {% if 'username' in LOGIN_SESSION  and item.user_id == LOGIN_SESSION['user_id'] %}block{% else %}none{% endif %}">
                        <button class="pl-0 card-title btn btn-link btn-sm" data-editid="{{item.id}}"
                            onclick="editItemModalWindow(this)">Edit</button>
                        <button class="pl-0 card-title btn btn-link btn-sm " data-deleteid="{{item.id}}"
                            onclick="deleteItemModalWindow(this)">Delete</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}