<!DOCTYPE html>
<html lang="en">

<head>
    <title>Catalog App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Required for google sign in -->
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '109303328989-csn309shgi2vq5idl6gtda1e8s1d5hoh.apps.googleusercontent.com',
                    // Scopes to request in addition to 'profile' and 'email'
                    scope: 'openid email'
                });
            });
        }
    </script>
</head>

<script type="text/javascript">
    function HandleBrowseClick(input_image) {
        var fileinput = document.getElementById(input_image);
        fileinput.click();
    }

    function EditItemModalWindow(button) {
        itemId = button.dataset.editid;
        item_img_id = '#' + itemId + '_img';
        item_title_id = '#' + itemId + '_tit';
        item_cat_id = '#' + itemId + '_cat';
        item_desc_id = '#' + itemId + '_desc';
        $('#add-item-title')[0].innerText = "Edit Item"
        $('#add-item-form')[0].action = "/update-item/" + itemId
        $('#add-item-image-preview')[0].src = $(item_img_id)[0].src
        $('#add-item-tit').val($(item_title_id)[0].innerText)

        itemCatnId = $(item_cat_id)[0].innerText;
        itemCat = itemCatnId.slice(0, itemCatnId.lastIndexOf(':') - 1)
        $('#add-item-cat').val(itemCat)

        $('#add-item-desc').val($(item_desc_id)[0].innerText)
        $('#addItemModal').modal("show")
    }

    function resetAddItemModal() {
        $('#add-item-title')[0].innerText = "Add New Item"
        $('#add-item-form')[0].action = "{{ url_for('add_item') }}";
        $('#add-item-image-preview')[0].src = "{{ url_for('static', filename='images/default/no-logo.gif') }}";
        $('#add-item-tit').val('');
        $('#add-item-cat').val('');
        $('#add-item-desc').val('');
    }

    function DeleteItemModalWindow(button) {
        itemId = button.dataset.deleteid
        item_title = $('#' + itemId + '_tit')[0].innerText;
        item_cat = $('#' + itemId + '_cat')[0].innerText;
        $('#del-conf-msg')[0].innerText = "Are you sure you want to delete '" + item_title + ", " + item_cat + "'?"

        // Used to make a delete request to the server on button click.
        $('#del-item-btn')[0].dataset.deleteid = itemId

        $('#delItemModal').modal("show")
    }

    function resetDeleteItemModal() {
        $('#del-conf-msg')[0].innerText = ""
        $('#del-item-btn')[0].dataset.deleteid = ""
    }

    // Register for hide modal event and clear all  fields.
    $(document).ready(function () {
        $("#addItemModal").on('hide.bs.modal', function () {
            console.log('Hide event: Clearing add item modal')
            resetAddItemModal();
        });

        $("#add-item-btn").click(function () {
            console.log('Submitting Add item form...')
            $('#add-item-form').submit()
        });

        $("#delItemModal").on('hide.bs.modal', function () {
            console.log('Hide event: Clearing delete item modal')
            resetDeleteItemModal();
        });

        $("#del-item-btn").click(function () {
            console.log('Submitting delete request : ' + this.dataset.deleteid)
            itemId = this.dataset.deleteid
            itemCatnId = $('#' + itemId + '_cat')[0].innerText;
            itemCat = itemCatnId.slice(0, itemCatnId.lastIndexOf(':') - 1)
            $.ajax({
                url: '/delete-item/' + itemId,
                type: 'DELETE',
                success: function (result) {
                    console.log('Getting ' + '/category/' + itemCat)
                    window.location.href = '/category/' + itemCat
                }
            });

        });
    });     
</script>
</head>

<body>
    <nav class="navbar navbar-expand-sm sticky-top shadow banner">
        <div class="navbar-brand fas fa-scroll banner-brand">
            CatalogApp</div>
        <div class="banner-buttons-container">
            {% if not LOGIN_SESSION.get('username') %}
            <button id="loginLogoutBtn" class="btn btn-outline-light float-right" onclick="handleLogin(this)"
                data-state="login"><span class="fas fa-sign-in-alt p-1"></span>Login</button>
            <img src="{{ url_for('static', filename='images/default/no_user_image.png') }}"
                class="rounded-circle float-right profile-pic" width="40px" height="40px">
            {% else %}
            <button class="btn btn-light ml-5" data-toggle="modal" data-target="#addItemModal">
                <span class="fas fa-plus p-1"></span>Add Item
            </button>
            <button id="loginLogoutBtn" class="btn btn-outline-light float-right" onclick="handleLogin(this)"
                data-state="logout"><span class="fas fa-sign-out-alt p-1"></span>Logout</button>
            <img src="{{ LOGIN_SESSION['picture'] }}" class="rounded-circle float-right profile-pic" width="40px" height="40px">
            {% endif %}
            <script>
                // This function handles login and logout logic for
                // both Google and Facebook login.
                function handleLogin(button) {
                    console.log("state:" + button.dataset.state)
                    if (button.dataset.state === "login") {
                        $('#loginModalForm').modal("toggle")
                    }
                    else {
                        $.get("/disconnect", function (data, status) {
                            console.log('Successfully logged out')
                            window.location.href = "/login"
                        });
                    }

                }
            </script>
        </div>
    </nav>
    <!-- The Add New Item Modal -->
    <div class="modal fade" id="addItemModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 id="add-item-title" class="modal-title">Add Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <form method="POST" id="add-item-form" action="{{ url_for('add_item') }}"
                            enctype="multipart/form-data">
                            <div class="form-group text-center">
                                <img class="img-thumbnail item-img" id="add-item-image-preview"
                                    src="{{ url_for('static', filename='images/default/no-logo.gif') }}" alt="No Image">

                                <input style="display:none" id="input-image-hidden" name="item_img"
                                    onchange="document.getElementById('add-item-image-preview').src = window.URL.createObjectURL(this.files[0])"
                                    type="file" accept="image/jpeg, image/png">
                                <div class="form-check">
                                    <button class="btn btn-outline-dark btn-sm float-left ml-1" id="add-item-upload-btn"
                                        onclick="HandleBrowseClick('input-image-hidden'); return false;">
                                        Upload an image</button>

                                    <label class="form-check-label float-right mr-4">
                                        <input name="feeling-lucky-check" type="checkbox" class="form-check-input "
                                            value="feeling-lucky">I'm
                                        Feeling Lucky
                                    </label>
                                </div>
                            </div>


                            <div class="form-group mt-5">
                                <label for="add-item-tit">Name</label>
                                <input type="text" class="form-control" id="add-item-tit" name="item_name">
                                <small id="name-help" class="form-text text-muted">Best item names are concise and a
                                    noun.</small>
                            </div>
                            <div class="form-group">
                                <label for="add-item-cat">Category</label>
                                <input type="text" class="form-control" id="add-item-cat" name="item_cat">
                                <small id="cat-help" class="form-text text-muted">Category names are case-insensitive. A
                                    new category will be created if it
                                    does not exist.</small>
                            </div>
                            <div class="form-group">
                                <label for="add-item-desc">Description</label>
                                <textarea class="form-control" id="add-item-desc" rows="3" name="item_desc"></textarea>
                                <small id="name-help" class="form-text text-muted">Provide a brief description of this
                                    item.</small>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="add-item-btn" type="button" class="btn btn-dark" data-dismiss="modal">Add</button>
                    <button id="close-item-btn" type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal: https://mdbootstrap.com/docs/jquery/modals/forms/ -->
    <div class="modal fade" id="loginModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Login Content-->
            <div class="modal-content form-elegant">
                <!--Login Header-->
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3 ml-4" id="myModalLabel">
                        <strong>Sign
                            in</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Login Body-->
                <div class="modal-body mx-4">
                    <div class="row my-3 d-flex justify-content-center">
                        <!--Google -->
                        <button id="googleSignInButton" type="button"
                            class="btn btn-lg btn-white btn-rounded mr-md-5 z-depth-1a"><i
                                class="fab fa-google"></i></button>
                        <script>
                            $('#googleSignInButton').click(function () {
                                // signInCallback defined in step 6.
                                auth2.grantOfflineAccess().then(signInCallback);
                            });

                            function signInCallback(authResult) {
                                if (authResult['code']) {

                                    // // Hide the sign-in button now that the user is authorized, for example:
                                    // $('#signinButton').attr('style', 'display: none');
                                    console.log('Executing Sigincallback ...')

                                    // Close the login modal and wait for server redirect.
                                    $('#loginModalForm').modal("hide")

                                    // Send the code to the server
                                    $.ajax({
                                        type: 'POST',
                                        url: '/gconnect?state={{STATE}}',
                                        // Always include an `X-Requested-With` header in every AJAX request,
                                        // to protect against CSRF attacks.
                                        headers: {
                                            'X-Requested-With': 'XMLHttpRequest'
                                        },
                                        contentType: 'application/octet-stream; charset=utf-8',
                                        success: function (result) {
                                            console.log('Successfully logged in')
                                            // $('#loginModalForm').modal("hide")
                                            // $('#loginLogoutBtn').html("<span class=\"fas fa-sign-out-alt p-1\"></span>Logout")
                                            // // Set the button state to logout so that when user clicks on it
                                            // // next time logout is triggered.
                                            // $('#loginLogoutBtn')[0].dataset.state = 'logout'

                                            window.location.href = "/login"
                                        },
                                        processData: false,
                                        data: authResult['code']
                                    });
                                } else {
                                    console.log("Server side error.")
                                }
                            }
                        </script>
                        <!--Facebook-->
                        <!-- Code taken from  https://developers.facebook.com/docs/facebook-login/web/ -->
                        <!-- Facebook button  https://developers.facebook.com/docs/facebook-login/web/login-button/ -->
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                        <script>
                            // This is called with the results from from FB.getLoginStatus().
                            function statusChangeCallback(response) {
                                console.log('statusChangeCallback');
                                console.log(response);
                                // The response object is returned with a status field that lets the
                                // app know the current login status of the person.
                                // Full docs on the response object can be found in the documentation
                                // for FB.getLoginStatus().
                                if (response.status === 'connected') {
                                    // Logged into your app and Facebook.
                                    console.log("access_token : " + response.authResponse.accessToken)
                                    response_token = response.authResponse.accessToken
                                    sendTokenToServer(response_token);
                                } else {
                                    // The person is not logged into your app or we are unable to tell.
                                    console.log('The person is not logged into your app or we are unable to tell')
                                }
                            }

                            // This function is called when someone finishes with the Login
                            // Button.  See the onlogin handler attached to it in the sample
                            // code below.
                            function checkLoginState() {
                                FB.getLoginStatus(function (response) {
                                    statusChangeCallback(response);
                                });
                            }

                            window.fbAsyncInit = function () {
                                FB.init({
                                    appId: '2394225350834497',
                                    cookie: true,  // enable cookies to allow the server to access 
                                    // the session
                                    xfbml: true,  // parse social plugins on this page
                                    version: 'v4.0' // The Graph API version to use for the call
                                });

                                // Now that we've initialized the JavaScript SDK, we call 
                                // FB.getLoginStatus().  This function gets the state of the
                                // person visiting this page and can return one of three states to
                                // the callback you provide.  They can be:
                                //
                                // 1. Logged into your app ('connected')
                                // 2. Logged into Facebook, but not your app ('not_authorized')
                                // 3. Not logged into Facebook and can't tell if they are logged into
                                //    your app or not.
                                //
                                // These three cases are handled in the callback function.

                                FB.getLoginStatus(function (response) {
                                    statusChangeCallback(response);
                                });

                            };

                            // Load the SDK asynchronously
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "https://connect.facebook.net/en_US/sdk.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));

                            // Here we run a very simple test of the Graph API after login is
                            // successful.  See statusChangeCallback() for when this call is made.
                            function sendTokenToServer(response_token) {
                                console.log('Welcome!  Fetching your information.... ');

                                // Close the login modal and wait for server redirect.
                                $('#loginModalForm').modal("hide")

                                FB.api('/me', function (response) {
                                    console.log('Successful login for: ' + response.name);
                                    $.ajax({
                                        type: 'POST',
                                        url: '/fbconnect?state={{STATE}}',
                                        processData: false,
                                        data: response_token,
                                        contentType: 'application/octet-stream; charset=utf-8',
                                        success: function (result) {
                                            // Handle or verify the server response if necessary.
                                            if (result) {
                                                console.log('Login Successful!' + result + 'Redirecting...')
                                                window.location.href = "/login";
                                            } else {
                                                console.log('Failed to make a server-side call. Check your configuration and console.');
                                            }
                                        }
                                    });
                                });
                            }
                        </script>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end">Login using Google or Facebook</p>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!-- Delete item modal  https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_modal_sm&stacked=h -->
    <!-- The Modal -->
    <div class="modal fade" id="delItemModal">
        <div class="modal-dialog ">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div id='del-conf-msg' class="modal-body font-weight-bold">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="del-item-btn" type="button" class="btn btn-dark" data-dismiss="modal"
                        data-deleteid="">Yes</button>
                    <button id="nodel-item-btn" type="button" class="btn btn-dark" data-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row bg-info inner-row">
            <nav class="col-sm-3 p-3 bg-light left-col">
                <h2>Categories</h2>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if ACTIVE_CATEGORY == 'latest' %} active{% endif %}"
                            href="/category/latest">Latest<span class="fas fa-fire fa-lg pl-2 float-right latest-category-icon"></span></a>
                    </li>

                    {% for category in ALL_CATEGORIES %}
                    <li class="nav-item">
                        <a class="nav-link {% if category[0] == ACTIVE_CATEGORY %} active{% endif %}"
                            href="/category/{{category[0]}}">{{ category[0]|title }}<span
                                class="badge badge-secondary float-right">{{ category[1] }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="col-sm-9 p-3 bg-light text-center right">
                <h2 class="font-weight-bol d-flex justify-content-center">{{ ACTIVE_CATEGORY|title }}</h2>
                <div class="d-inline-flex flex-wrap justify-content-center">
                    {% for item in CATEGORY_ITEMS %}
                    <div class="card p-3 m-3 shadow item" id="{{ item.id }}">
                        <img class="card-img-top img-thumbnail item-img" id='{{item.id}}_img'
                            src="{{  url_for('static', filename=item.image) }}" alt="Item Image">
                        <div class="card-body px-2 pb-0">
                            <h3 class="card-title title mb-0" id="{{item.id}}_tit">{{ item.name }}</h3>

                            <h5 class="card-title category small font-italic" id="{{item.id}}_cat">{{ item.category }} :
                                {{ item.id }}
                            </h5>

                            <p class="card-text text-justify" id="{{item.id}}_desc">
                                {{ item.description }}
                            </p>

                            <div
                                style="display: {% if 'username' in LOGIN_SESSION  and item.user_id == LOGIN_SESSION['user_id'] %}block{% else %}none{% endif %}">
                                <button class="pl-0 card-title btn btn-link btn-sm" data-editid="{{item.id}}"
                                    onclick="EditItemModalWindow(this)">Edit</button>
                                <button class="pl-0 card-title btn btn-link btn-sm " data-deleteid="{{item.id}}"
                                    onclick="DeleteItemModalWindow(this)">Delete</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>